.upcoming-events-container {
  background-color: var(--color-bg);
}

.upcoming-events-container .parallax {
  height: 50vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(../../assets/parallax-1.jpeg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.upcoming-events-container h1 {
  padding: 2rem 0 0 4rem;
  color: var(--color-subtext);
}

.card-container {
  margin: 0 12rem;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 950px) {
  .upcoming-events-container h1 {
    padding: 2rem 0 0 2rem;
  }

  .card-container {
    margin: 0 2rem;
  }
}
