/* Event Cards  */

.event-container {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  /* background: var(--color-secondary-bg); */
  margin-bottom: 20px;
  border-radius: 12px;
  /* width: 50%; */
  padding: 0 50px;
  display: flex;
  align-items: center;
}

/* calendar widget */

.event-container .date-container {
  display: block;
  background-color: rgb(236, 43, 43);
  line-height: 1.2;
  border-radius: 12px;
  width: 120px;
  height: 120px;
  margin: 20px 0 20px 20px;
  text-align: center;
  text-transform: uppercase;
}

.event-container .date-container span {
  display: block;
}

.event-container .date-container .month {
  font-size: 1.2rem;
  color: black;
  padding: 3px 0;
  font-weight: 600;
}

.event-container .date-container .day {
  color: #fff;
  background-color: #000;
  font-size: 3.8rem;
}

.event-container .date-container .weekday {
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
}

/* event information (title | time | location */

.event-container .event-info-container {
  color: #000;
}

.event-container .event-info-container .event-name {
  /* color: #fff; */
  font-weight: 300;
  font-size: 1.8em;
  padding: 20px 20px 0 20px;
}

.event-container .event-info-container .time-location-container {
  color: #2d2c2c;
  font-style: italic;
  font-weight: 300;
  padding: 0 0 0 20px;
}

.react-icon {
  margin-right: 5px;
  display: flex;
  /* align-items: center; */
  padding-bottom: 4px;
}

/* media queries for smaller screens */

@media (max-width: 900px) {
  /* Event Cards */

  .event-container {
    margin-bottom: 10px;
    max-height: 100px;
    padding: 0;
  }

  /* calendar widget */

  .event-container .date-container {
    max-width: 80px;
    max-height: 80px;
  }

  .event-container .date-container .month {
    font-size: 0.8rem;
    font-weight: 900;
  }

  .event-container .date-container .day {
    font-size: 2.5rem;
    padding-bottom: 1px;
  }

  .event-container .date-container .weekday {
    font-size: 0.5rem;
  }

  /* event information (title | time | location */

  .event-container .event-info-container .event-name {
    font-size: 1rem;
  }

  .event-container .event-info-container .time-location-container {
    font-size: 0.75rem;
  }
}

/* this is what was here...need to edit */
.upcoming-events {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  background: black;
}

.upcoming-events .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #c6b58e;
}

.upcoming-events .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: rgba(255, 255, 255, 0.8);
}

.upcoming-events .box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.upcoming-events .box:hover {
  background: #c6b58e;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.upcoming-events .box:hover span,
.upcoming-events .box:hover h4,
.upcoming-events .box:hover p {
  color: #fff;
}
