.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 6rem;
  transition: all 0.5s;
  backdrop-filter: blur(4px);
}

.navbar-scrolled {
  background: var(--color-bg);
  filter: opacity(0.9);
  z-index: 5;
}

.navbar-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  width: 150px;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0 0 0;
}

.navbar-links a {
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  text-decoration: none;
  margin: 0 1rem;
  cursor: pointer;
}

.navbar-links a:hover {
  color: var(--color-subtext);
}


/* hamburger menu */

.navbar-menu {
  color: var(--color-subtext);
  display: none;
  position: relative;
}

.hamburger-button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 3em;
    height: 2em;
    position: relative;
    z-index: 10;
    background-color: transparent;
    background-image: url(https://res.cloudinary.com/dnpyq0ocz/image/upload/v1588441892/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-tap-highlight-color: transparent;
}

.hamburger-button.open {
    background-image: url(https://res.cloudinary.com/dnpyq0ocz/image/upload/v1588441892/icon-hamburger-close.svg);
}

.panel {
    max-width: 500px;
    background-color: var(--color-secondary-bg);
    background-size: 117px 188px;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.34, 1.01);
    position: fixed;
    z-index: 5;
    right: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    padding: 3em;
    display: flex;
}

.panel.open {
    visibility: visible;
    width: 100%;
    right: 0;
    opacity: 1;
}

ul {
    margin: 3rem 0 auto auto;
}

ul li {
    list-style: none;
    font-size: 2em;
    text-align: right;
}

ul li + li {
    margin-top: 1em;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    color: var(--color-subtext);
}

@media screen and (max-width: 950px) {
  .navbar {
    padding: .5rem 3rem;
  }
  .navbar-menu {
    display: flex;
  }
  .navbar-links {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: .5rem;
  }
  ul li {
    font-size: 1.5em;
}
}